Project4/Web References/RealtorSvc/Realtor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetHomes">
        <s:complexType />
      </s:element>
      <s:element name="GetHomesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHomesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doUpdates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxprice" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="footage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bedroom" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bathroom" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doUpdatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doUpdatesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteHouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="houseID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteHouseResponse">
        <s:complexType />
      </s:element>
      <s:element name="addHouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="footage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bedrooms" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bathrooms" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addHouseResponse">
        <s:complexType />
      </s:element>
      <s:element name="showSelectedHouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="showSelectedHouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="showSelectedHouseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSelectedHouse">
        <s:complexType />
      </s:element>
      <s:element name="updateSelectedHouseResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHomesSoapIn">
    <wsdl:part name="parameters" element="tns:GetHomes" />
  </wsdl:message>
  <wsdl:message name="GetHomesSoapOut">
    <wsdl:part name="parameters" element="tns:GetHomesResponse" />
  </wsdl:message>
  <wsdl:message name="doUpdatesSoapIn">
    <wsdl:part name="parameters" element="tns:doUpdates" />
  </wsdl:message>
  <wsdl:message name="doUpdatesSoapOut">
    <wsdl:part name="parameters" element="tns:doUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="deleteHouseSoapIn">
    <wsdl:part name="parameters" element="tns:deleteHouse" />
  </wsdl:message>
  <wsdl:message name="deleteHouseSoapOut">
    <wsdl:part name="parameters" element="tns:deleteHouseResponse" />
  </wsdl:message>
  <wsdl:message name="addHouseSoapIn">
    <wsdl:part name="parameters" element="tns:addHouse" />
  </wsdl:message>
  <wsdl:message name="addHouseSoapOut">
    <wsdl:part name="parameters" element="tns:addHouseResponse" />
  </wsdl:message>
  <wsdl:message name="showSelectedHouseSoapIn">
    <wsdl:part name="parameters" element="tns:showSelectedHouse" />
  </wsdl:message>
  <wsdl:message name="showSelectedHouseSoapOut">
    <wsdl:part name="parameters" element="tns:showSelectedHouseResponse" />
  </wsdl:message>
  <wsdl:message name="updateSelectedHouseSoapIn">
    <wsdl:part name="parameters" element="tns:updateSelectedHouse" />
  </wsdl:message>
  <wsdl:message name="updateSelectedHouseSoapOut">
    <wsdl:part name="parameters" element="tns:updateSelectedHouseResponse" />
  </wsdl:message>
  <wsdl:portType name="RealtorSoap">
    <wsdl:operation name="GetHomes">
      <wsdl:input message="tns:GetHomesSoapIn" />
      <wsdl:output message="tns:GetHomesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="doUpdates">
      <wsdl:input message="tns:doUpdatesSoapIn" />
      <wsdl:output message="tns:doUpdatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteHouse">
      <wsdl:input message="tns:deleteHouseSoapIn" />
      <wsdl:output message="tns:deleteHouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addHouse">
      <wsdl:input message="tns:addHouseSoapIn" />
      <wsdl:output message="tns:addHouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="showSelectedHouse">
      <wsdl:input message="tns:showSelectedHouseSoapIn" />
      <wsdl:output message="tns:showSelectedHouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSelectedHouse">
      <wsdl:input message="tns:updateSelectedHouseSoapIn" />
      <wsdl:output message="tns:updateSelectedHouseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RealtorSoap" type="tns:RealtorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHomes">
      <soap:operation soapAction="http://tempuri.org/GetHomes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doUpdates">
      <soap:operation soapAction="http://tempuri.org/doUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteHouse">
      <soap:operation soapAction="http://tempuri.org/deleteHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addHouse">
      <soap:operation soapAction="http://tempuri.org/addHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showSelectedHouse">
      <soap:operation soapAction="http://tempuri.org/showSelectedHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSelectedHouse">
      <soap:operation soapAction="http://tempuri.org/updateSelectedHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RealtorSoap12" type="tns:RealtorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHomes">
      <soap12:operation soapAction="http://tempuri.org/GetHomes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doUpdates">
      <soap12:operation soapAction="http://tempuri.org/doUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteHouse">
      <soap12:operation soapAction="http://tempuri.org/deleteHouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addHouse">
      <soap12:operation soapAction="http://tempuri.org/addHouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showSelectedHouse">
      <soap12:operation soapAction="http://tempuri.org/showSelectedHouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSelectedHouse">
      <soap12:operation soapAction="http://tempuri.org/updateSelectedHouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Realtor">
    <wsdl:port name="RealtorSoap" binding="tns:RealtorSoap">
      <soap:address location="http://localhost:33264/Realtor.asmx" />
    </wsdl:port>
    <wsdl:port name="RealtorSoap12" binding="tns:RealtorSoap12">
      <soap12:address location="http://localhost:33264/Realtor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>