Project4/Web References/RealtorSvc/Realtor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetHomes">
        <s:complexType />
      </s:element>
      <s:element name="GetHomesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHomesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="values" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdatesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHomesSoapIn">
    <wsdl:part name="parameters" element="tns:GetHomes" />
  </wsdl:message>
  <wsdl:message name="GetHomesSoapOut">
    <wsdl:part name="parameters" element="tns:GetHomesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdates" />
  </wsdl:message>
  <wsdl:message name="GetUpdatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdatesResponse" />
  </wsdl:message>
  <wsdl:portType name="RealtorSoap">
    <wsdl:operation name="GetHomes">
      <wsdl:input message="tns:GetHomesSoapIn" />
      <wsdl:output message="tns:GetHomesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdates">
      <wsdl:input message="tns:GetUpdatesSoapIn" />
      <wsdl:output message="tns:GetUpdatesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RealtorSoap" type="tns:RealtorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHomes">
      <soap:operation soapAction="http://tempuri.org/GetHomes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdates">
      <soap:operation soapAction="http://tempuri.org/GetUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RealtorSoap12" type="tns:RealtorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHomes">
      <soap12:operation soapAction="http://tempuri.org/GetHomes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdates">
      <soap12:operation soapAction="http://tempuri.org/GetUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Realtor">
    <wsdl:port name="RealtorSoap" binding="tns:RealtorSoap">
      <soap:address location="http://localhost:33264/Realtor.asmx" />
    </wsdl:port>
    <wsdl:port name="RealtorSoap12" binding="tns:RealtorSoap12">
      <soap12:address location="http://localhost:33264/Realtor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>